.lboard_title {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    /* letter-spacing: 3px; */
    padding-top: 25px;
    padding-bottom: 50px;
}


.lboard_section {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #212121;
    border:4px solid #121212;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}


table {
    /* position relative to include a band on the left of the container */
    margin: 0rem 1rem;
    position: relative;
    /* cap the width of the table, allowing for a sizeable portion of white space if allowed by the viewport */
    width: calc(100%);
    max-width: 800px;
    /* spacing to separate the table rows vertically */
    border-spacing: 0 1rem;
}

table td.county span {
    text-transform: capitalize;
    margin-left: 0.75rem;
    font-size: 0.8rem;
    color: #999;
    letter-spacing: initial;
}

table td.score span {
    background: #38383F;
    border-radius: 30px;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

table tr > * {
    text-align: center;
    padding: 0.5rem;
}
/* align every second item of each row to the left */
table tr > *:nth-child(2) {
    text-align: left;
}